/*BACKGROUND*/
/* CSS HEX */
--true-blue: #0466c8ff;
--usafa-blue: #0353a4ff;
--dark-cornflower-blue: #023e7dff;
--oxford-blue: #002855ff;
--oxford-blue-2: #001845ff;
--oxford-blue-3: #001233ff;
--independence: #33415cff;
--black-coral: #5c677dff;
--roman-silver: #7d8597ff;
--manatee: #979dacff;
--font-family: 'Noto Serif JP', serif;
--font-family: 'Courgette', cursive;





/*HEADER SECTION*/
#carousel-1 p {
  margin: 0 0 10px 0;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#carousel-1 span {
  color: #fff;
  font-size: 40px;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}


#About {
	color: #001845ff !important;
	background-color: #7d8597ff !important;
  font-family: 'Noto Serif JP', serif;
}

#abt {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 4px;
  letter-spacing: 2px;
  font-family: 'Noto Serif JP', serif;
}



#Home, #Portfolio {
	color: #979dacff !important;
	background-color: #002855ff !important;
  font-family: 'Noto Serif JP', serif;

}

#copy {
	background-color: #001233ff !important;
	color:  #7d8597ff !important;
  font-family: 'Noto Serif JP', serif;
}	

#nav {
  background-color: #001233ff !important;
  color:  #7d8597ff !important;
  font-family: 'Noto Serif JP', serif;
  font-size: 5x;
  padding: 4px;
} 


/*socials*/
.fa {
  padding: 10px;
  font-size: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  box-sizing:border-box;
  display:flex;
  border-radius: 50%
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

button{
	background-color: #0353a4ff !important;
}

#pabt {
  font-family: 'Courgette', cursive;
  line-height: 56px;
}

